

.intro-image{

    height: 45px;
    margin-left: 24px;
    border: 4px solid burlywood;
    border-radius: 50%;
    box-shadow: 1px 1px;
    transition: all 2.0s;
}

.intro-image:hover{
    border: 2px solid orange;
  transform: rotate(360deg);
  transition: all 2.0s;
  -ms-transform: rotate(360deg);
  -webkit-transform: rotate(360deg);
}

.nav-links{
    display: flex;
  align-items: center;
  text-align: center;
  list-style: none;
  margin-left: auto;
  margin-right: 12px;
  gap:25px;
}

html{
    scroll-behavior: smooth;
    height: -webkit-fill-available;
}

.navbar {
    display: flex;
    align-items: center;
    width:100%;
    position:fixed;
    background-color:rgb(170, 230, 252);
}

.introduction{
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: solid black 2px;
    background-image: linear-gradient( 60deg, rgba(255, 237, 183, 0.85), rgba(0, 162, 255, 0.5) ), url(https://media.architecturaldigest.com/photos/5ab53b6e2ed63a101d561e70/16:9/w_2560%2Cc_limit/Tout-Hamburg.jpg);
    background-position: center;
    background-size: cover;

 
}

.media-box{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 128px 72px 72px;
    gap: 24px;
    padding: 32px;
    border: 3px solid skyblue;
    border-radius: 200px;
    box-shadow: 2px 2px 20px 2px;
    background: linear-gradient( 60deg, rgba(255, 237, 183, 0.85), rgba(0, 162, 255, 0.5));
}

.text-box{
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    align-items: flex-start;
    gap:20px;
    padding-left: 24px;
    font-size: 1.5rem;
}

button{
    font-weight: 900;
    padding: 4px 24px;
    border-radius: 4px;
    background-color: rgb(230, 250, 250);
    align-self: center;
    font-size: 1.5rem;
}
img{
    border-radius: 150px;
}
.body {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    align-items: flex-start;
    gap: 20px;
    padding-left: 32px;
    font-size: 1.5rem;
} 

.bio{
    background-color: rgb(239, 213, 16);
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin:0px;
    border-bottom:2px solid black;
    padding-bottom: 50px;
    font-size: 1.5rem;
}

.bio-information{
    display:flex;
   justify-content: center;
    gap:150px;
    margin:10px;
}

.bio-1{
    width: 125px;
}

.bio-2{
    width:400px;
}


.gallery{
background-image:linear-gradient( 70deg,rgba(255, 237, 183, 0.85), rgba(0, 162, 255, 0.5) ) , url(https://scontent.fmnl9-4.fna.fbcdn.net/v/t39.30808-6/252045701_106503425167545_9192782607440180782_n.jpg?_nc_cat=105&ccb=1-7&_nc_sid=e3f864&_nc_eui2=AeFSoZDNWLMFuFOeL_uXMj-Mf6fijtNmdRF_p-KO02Z1EdgR5e7F5-buVe6W_Td_7ibNvkINGNAAqcFleQy9Apob&_nc_ohc=dpT1_VE3tqsAX9y0bl3&_nc_ht=scontent.fmnl9-4.fna&oh=00_AfBdXRrsrDSAS5v_bqfC6rnE-HT7IeMKrqFdx-sWWDGVYQ&oe=641F992A);
background-position:center;
background-size:cover;
display: flex;
flex-direction: column;
align-items: center;
border-bottom:2px solid black;
text-align: center;
font-size: 1.5rem;
}

.photo-container{
display:flex;
padding: 10px;
gap:15px;
margin:0px;
flex-shrink: 1;
flex-flow: row wrap;

justify-content: center;

}
.photo{
    margin:0px;
    width:150px;
    flex-shrink: 1;
    overflow-wrap: normal;
}

.trivia{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(235, 201, 143);
    border-bottom:2px solid black;
    font-size: 1.5rem;
}

.trivia-container{
display:flex;
  margin:10px;
  gap:10px;
  flex-wrap: wrap;
  justify-content: center;
 
}

.trivia-body{
    border: 1px solid #000000;
    box-shadow: 2px 4px 16px rgba(0,0,0,.06);
    border-radius: 4px;
    padding: 16px;
    margin: 16px;
    width: 200px;

}

.contact-information{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border-bottom:2px solid black;
    background-image:linear-gradient( 50deg,rgba(255, 237, 183, 0.85), rgba(0, 162, 255, 0.5) ) , url(https://img-aws.ehowcdn.com/877x500p/s3-us-west-1.amazonaws.com/contentlab.studiod/getty/fe62c4c1413a458da867262378095a7b);
    background-position:center;
    background-size:cover;
    font-size: 1.5rem;
}

.contact-row{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width:300px;
    gap: 5px;
    flex:1,1,auto;
   
}

.title{
    font-weight: 800px;
    font-size: 4rem;
    font-family:'Titan One', cursive;
    color: rgb(255, 255, 255);
    text-shadow: 2px 2px black;
}

.footer{
    display:flex;
    gap:15px;
    align-items: center;
    justify-content: center;
    margin-top:150px;
    font-size: 1.5rem;
}

a:link{
    color: rgb(43, 0, 255);
}
a:visited{
    color: rgb(21, 0, 255);
}
a:hover {
    color:rgb(255, 157, 0)
}
a:active{
    color: blue;
}

